@model (BookViewModel Book, bool IsAdmin, bool IsBasketBook)

<div class="indexBooks-book-div col-md-3">
    <div class="indexBooks-bookTitle-div col-md-12">
        <a asp-action="IndexBook" asp-controller="Book" asp-route-bookId="@Model.Book.Id">@Model.Book.Title</a>
    </div>

    <div class="indexBooks-bookImg-div col-md-12">
        @if (!string.IsNullOrEmpty(Model.Book.ImgPath))
        {
            <a asp-action="IndexBook" asp-controller="Book" asp-route-bookId="@Model.Book.Id">
                <img src="@Url.Content(Model.Book.ImgPath)" />
            </a>
         }
    </div>

    @if (Model.Book.InStock)
    {
        <div class="indexBooks-bookStock-div col-md-12">
            <text>В наличии</text>
        </div>

        <div class="indexBooks-book-lowPanel row">
            @if (Model.IsAdmin)
            {
                <div class="indexBooks-removeBook-div">
                    <form asp-action="RemoveBook" asp-controller="Book" method="post">
                        <input type="hidden" value="@Model.Book.Id" name="bookId" />
                        <input class="btn btn-primary btn-sm" value="Удалить" type="submit" />
                    </form>
                </div>

                <div class="indexBooks-updateBook-div">
                    <form asp-action="UpdateBook" asp-controller="Book" method="get">
                        <input type="hidden" value="@Model.Book.Id" name="bookId" />
                        <input type="submit" value="Обновить" class="btn btn-primary btn-sm" />
                    </form>
                </div>
            }
            else 
            {
                @if (!Model.IsBasketBook)
                {
                    @if (!Model.Book.IsAddToBasket)
                    {
                        <div class="indexBooks-AddBasket-div col-auto">
                            <form asp-action="AddBasketBook" asp-controller="Basket" method="post">
                                <input type="hidden" value="@Model.Book.Id" name="bookId" />
                                <input type="submit" value="Добавить в корзину" class="btn btn-primary btn-sm" />
                            </form>
                        </div> 
                    }
                    else
                    {
                        <div class="bookInBasket-div col-md-5">
                            <a class="btn btn-primary btn-sm" asp-action="IndexBasket" asp-controller="Basket">
                                Уже в корзине<i class="fas fa-check"></i>
                            </a>
                        </div>
                    }
                }
                else
                {
                     <div class="basketIndex-buy col-md-2">
                         <form asp-action="AddOrder" asp-controller="Order" method="get">
                             <input name="booksIds" value="@Model.Book.Id" type="hidden" />
                             <div>
                                 <input type="submit" value="Купить" class="btn btn-primary btn-sm" />
                             </div>
                         </form>
                     </div>

                     <div class="basketIndex-remove col-md-auto">
                         <form asp-action="RemoveBasketBook" asp-controller="Basket" method="post">
                             <input value="@Model.Book.Id" type="hidden" name="bookId" />
                             <input type="submit" value="Убрать с корзины" class="btn btn-primary btn-sm" />
                         </form>
                     </div>
                }

            }

            <div class="indexBooks-bookPrice-div col-md-2">
                @Model.Book.Price.ToString("c")
            </div>

            <div class="indexBooks-bookAuthName-div col-auto">
                @Model.Book.AuthorFullName
            </div>
        </div> 
     }
     else
     {
        <div class="indexBooks-noneStock col-md-12">
            Нет в наличии
        </div>
     }
</div>