@model IndexViewModel<OrderViewModel>


    <div class="indexOrder-main">
        @if (Model.Objects != null && Model.Objects.Count() != 0)
        {
            <div class="indexOrder-orders">
                @foreach (var order in Model.Objects)
                {
                    <div class="indexOrder-order">
                        <div class="indexOrder-timeCreate">
                            <text>
                                Заказ оформлен: @order.TimeCreate.ToString("F")
                            </text>
                        </div>                       
                        <div>
                            <text>Содержание заказа:</text>
                            @foreach (var book in order.BooksViewModel)
                            {
                                <div>
                                    <a asp-action="IndexBook" asp-controller="Book" asp-route-bookId="@book.Id">@book.Title</a>
                                </div>
                            }
                        </div>
                        <div class="indexOrder-orderPlaced">
                            @if (order.OrderPlaced)
                            {
                                <text>
                                    Заказ сделан
                                </text>
                                <form asp-action="RemoveOrder" asp-controller="Order" method="get">
                                    <input name="orderId" value="@order.Id" type="hidden" />
                                    <input type="submit" value="Удалить" class="button" />
                                </form>
                            }
                            else
                            {
                                <text>
                                    Заказ будет сделан @order.TimeOfDelivery.ToString("D")
                                </text>
                                <form asp-action="RemoveOrder" asp-controller="Order" method="get">
                                    <input name="orderId" value="@order.Id" type="hidden" />
                                    <input type="submit" value="Отменить заказ" class="button" />
                                </form>
                            }
                        </div>
                    </div>
                }
            </div>
            <div class="removeAndPaginationOrder-div">
                <div class="removeCompleteOrders-div">
                    <form asp-action="RemoveCompleteOrders" asp-controller="Order" method="get">
                        <input class="button" type="submit" value="Убрать выполненные заказы" />
                    </form>
                </div>

                <div class="indexOrder-pagination-div">
                    <div>
                        @if (Model.PageInfo.PageNumber > 1)
                        {
                            <a asp-action="IndexOrders" asp-controller="Order" asp-route-pageNum="@(Model.PageInfo.PageNumber - 1)">Назад</a>
                        }
                    </div>
                    <div>
                        @if (Model.PageInfo.TotalPage > Model.PageInfo.PageNumber)
                        {
                            <a asp-action="IndexOrders" asp-controller="Order" asp-route-pageNum="@(Model.PageInfo.PageNumber + 1)">Вперед</a>
                        }
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="NoOrders-text-div"><h3>У вас нет заказов</h3></div>
        }
    </div>

