@model BookCreateModel
@inject BooksStore.Services.Interfaces.Services.Base.ICategoryService categoryService
@inject BooksStore.Services.Interfaces.Services.WithCaching.IAuthorCachingService authorService
@{
    var categoryCount = await categoryService.GetCountCategories();
    var categories = (await categoryService.GetCategories(0, categoryCount)).Select(c => new SelectListItem(c.Name, c.Id.ToString())); ;

    var authorCount = await authorService.GetCountAuthors();
    var authors = (await authorService.GetAuthors(0, authorCount)).Select(a => new SelectListItem(a.Firstname + " " + a.Surname, a.Id.ToString()));
}

<div class="col-md-12">
    <form asp-action="AddBook" asp-controller="Book" method="post" enctype="multipart/form-data" class="addBook-form">
        <div class="row">
            <div class="form-group col-md-4">
                <div>
                    @Html.ValidationMessageFor(b => b.Title)
                </div>
                <label asp-for="Title">Названия</label><br />
                <input asp-for="Title" class="form-control" />
            </div>
            <div class="form-group col-md-5">
                <div>
                    @Html.ValidationMessageFor(b => b.Descriptions)
                </div>
                <label asp-for="Descriptions">Описания</label><br />
                <textarea class="form-control" asp-for="Descriptions"></textarea>
            </div>
            <div class="form-group col-md-3">
                <div>
                    @Html.ValidationMessageFor(b => b.CategoryId)
                </div>
                <label asp-for="CategoryId">Категория</label><br />
                @Html.DropDownListFor(b => b.CategoryId, categories, new { @class = "form-control" })
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-3">
                <div>
                    @Html.ValidationMessageFor(b => b.NumberOfPages)
                </div>
                <label asp-for="NumberOfPages">Количество страниц</label><br />
                <input asp-for="NumberOfPages" value="0" type="number" class="form-control" />
            </div>
            <div class="form-group col-md-3">
                <div>
                    @Html.ValidationMessageFor(b => b.Price)
                </div>
                <label asp-for="Price">Цена</label><br />
                <input asp-for="Price" type="number" value="0" class="form-control" />
            </div>
            <div class="form-group col-md-6">
                <div>
                    @Html.ValidationMessageFor(b => b.AuthorId)
                </div>
                <label asp-for="AuthorId">Автор</label><br />
                @Html.DropDownListFor(b => b.AuthorId, authors, new { @class = "form-control" })
            </div>
        </div>

        <div class="row">
            <div class="col-md-3"></div>
            <div class="form-group col-md-5">
                <div>
                    @Html.ValidationMessageFor(b => b.ImgFile)
                </div>
                <label asp-for="ImgFile">Изображения</label><br />
                <input asp-for="ImgFile" type="file" />
            </div>
            <div class="form-group col-md-4">
                <div class="form-check">
                    <input asp-for="InStock" type="checkbox" class="form-check-input" />
                    <label class="form-check-label" asp-for="InStock">В наличии</label>
                </div>
            </div>
        </div>

        <div class="col text-center">
            <input type="submit" value="Создать" class="btn btn-primary" />
        </div>
    </form>
</div>