@model BookViewModel

<div class="indexBook-main col-md-12">
    <div class="indexBook-book">
        <div class="indexBook-flexDiv col-md-12">
            <div class="indexBook-titleBook col-md-12">
                <h2>@Model.Title</h2>
            </div>
            <div class="indexBook-authorBook col-md-12">
               <h4>@Model.AuthorFullName</h4>
            </div>
        </div>

        <div class="indexBook-flexDiv col-md-12">
            <div class="indexBook-bookImg-div col-md-5">
                @if (Model.ImageData != null && Model.ImageData.Any())
                {
                    @Html.Raw("<img src=\"data:image/jpeg;base64," + Convert.ToBase64String(Model.ImageData) + "\" />")
                }
            </div>

            <div class="indexBook-descriptionsBook col-md-7">
                <p class="text-justify">
                    @Model.Descriptions
                </p>
            </div>
        </div>
        <div class="indexBook-flexDiv">
            <div class="indexBook-stockBook">
                @if (Model.InStock)
                {
                    <text>В наличии</text>
                }
                else
                {
                    <text>Нет в наличии</text>
                }
            </div>
        </div>
        <div class="indexBook-flexDiv"> 
            <div class="indexBook-addBusket">
                @if (!Model.IsAddToBasket)
                {
                    <div>
                        <form asp-action="AddBasketBook" asp-controller="Basket" method="post">
                            <input type="hidden" value="@Model.Id" name="bookId" />
                            <input type="submit" value="Добавить в корзину" class="btn btn-primary btn-sm" />
                        </form>
                    </div>
                }
                else
                {
                    <div class="bookInBasket-div">
                        <a class="btn btn-primary btn-sm" asp-action="IndexBasket" asp-controller="Basket">
                            Уже в корзине<i class="fas fa-check"></i>
                        </a>
                    </div>
                }
            </div>

            <div class="indexBook-priceBook">
                @Model.Price.ToString("c")
            </div>    
            
            <div class="indexBook-indexCommentsHref-div">
                <a asp-action="IndexComments" asp-controller="Comment" asp-route-bookId="@Model.Id">Отзывы</a>
            </div>

            <div class="indexBook-categoryBook">
                Категория: <a asp-action="IndexBooks" asp-controller="Book" asp-route-filterModel.CategoryIds[0]="@Model.CategoryId" asp-route-categoryName="@Model.CategoryName">@Model.CategoryName</a>
            </div>

            <div class="indexBook-pageNumBook">
                Количество страниц: @Model.NumberOfPages
            </div>
            
        </div>
    </div>
</div>
