@model BookUpdateModel

@if (Model != null)
{
    <div class="col-md-12">
        <form asp-action="UpdateBook" asp-controller="Book" method="post" class="updateBook-form">
            <div class="row">
                <input type="hidden" asp-for="Id" />
                <div class="form-group col-md-6">
                    <div>
                        @Html.ValidationMessageFor(b => b.Title)
                    </div>
                    <label asp-for="Title">Название</label><br />
                    <input class="form-control" asp-for="Title" />
                </div>

                <div class="form-group col-md-4">
                    <div>
                        @Html.ValidationMessageFor(b => b.NumberOfPages)
                    </div>
                    <label asp-for="NumberOfPages">Количество страниц</label><br />
                    <input asp-for="NumberOfPages" class="form-control" type="number" />
                </div>

                <div class="form-group col-auto">
                    <div>
                        @Html.ValidationMessageFor(b => b.Price)
                    </div>
                    <label asp-for="Price">Цена</label><br />
                    <input class="form-control" asp-for="Price" />
                </div>
            </div>

            <div class="row">
                <div class="form-text col-md-6">
                    <div>
                        @Html.ValidationMessageFor(b => b.Descriptions)
                    </div>
                    <label asp-for="Descriptions">Описания</label><br />
                    <textarea class="form-control" asp-for="Descriptions" rows="5">@Model.Descriptions</textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" asp-for="InStock" type="checkbox" />
                    <label class="form-check-label" asp-for="InStock">В наличии</label>
                </div>
            </div>

            <div class="col text-center">
                <input type="submit" value="Обновить" class="btn btn-primary" />
            </div>
        </form>
    </div>
}